html {
    font-family: 'Roboto';
    background-color: #4c4c50;
}

div#case {
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: black;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    left: 30%;
}

.buttons {
    width: 195px;
    height: 195px;
    float: left;
    border: black solid;
    border-radius: 10%;
    opacity: 0.8;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 100px;
    position: absolute;
    top: 25%;
    left: 25%;
}

div#green {
    background-color: rgb(0, 196, 0);
    border-width: 0 5px 5px 0;
}

div#red {
    background-color: red;
    border-width: 0 0 5px 5px;
}

div#blue {
    background-color: rgb(0, 81, 255);
    border-width: 5px 0 0 5px;
}

div#yellow {
    background-color: yellow;
    border-width: 5px 5px 0 0;
}

div {
    float: left;
}

#scoreTxt {
    color: whitesmoke;
    position: absolute;
    left: 25%;
    top: 10%;
}

#scoreVar {
    color: whitesmoke;
}

#highscoreTxt {
    color: whitesmoke;
    position: absolute;
    left: 25%;
    top: 20%;
}

#startButton {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 60%;
}